<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Cytrus | <%- pageTitle %></title>

  <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

    body {
      background: #2C2F33;
      margin: 0 0;
      padding: 0 0;
    }

    .page-content {
      padding: 4px 42px;
    }

    .page-content h1 {
      margin-bottom: -10px;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      color: #ffffff;
    }

    p, a, .memberimg .membername {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      color: #ffffff;
    }

    .navbar {
      background: #23272A;
      padding: 21px 42px;
    }

    .navbar a {
      transition: .25s ease;
      color: #ffffff;
      text-decoration: none;
    }

    .navbar a:hover {
      color: #7792f3;
    }

    .navbar a:not(:last-child) {
      margin-right: 12px;
    }

    .navbar .right {
      float: right;
    }
    
    .memberimg {
      position: relative;
      display: inline-block;
    }

    .memberimg .membername {
      visibility: hidden;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 5px;
      border-radius: 10px;
      position: absolute;
      z-index: 1;
      opacity: 0;
    }

    .memberimg:hover .membername {
      visibility: visible;
      transition: 0.6s;
      opacity: 1;
    }
    
    .drop {
      position: relative;
      display: inline-block;
    }
    
    .dropcontent {
      display: none;
      position: absolute;
      background-color: #23272A;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdcontent a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropcontent a:hover {background-color: #ddd;}
    .drop:focus .dropcontent {display: block;}
  </style>
</head>
<body>
  <%- include('partials/navbar.ejs') %>

  <div class="page-content">
    <% djsclient.guilds.get(guild).members.forEach((member) => { %>
    <% if (djsclient.guilds.get(guild).members.get(user.id).hasPermission('BAN_MEMBERS') && djsclient.guilds.get(guild).members.get(user.id).hasPermission('KICK_MEMBERS')) { %>
        <img src="<%= member.user.avatarURL %>" width="100" style="border-radius: 50px">
        <span class="membername"><%= member.user.tag %></span>
      </div>
    <% } else { %>
      <img src="<%= member.user.avatarURL %>" width="100" style="border-radius: 50px">
      <span class="membername"><%= member.user.tag %></span>
    <% } %>
    <%}) %>
  </div>
</body>
</html>